/* small screen mobile */

/* Mobile Header  */
.header {
  display: none;
}

.header--mobile {
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding-top: 3px;
  margin: 0;
}

.header__inner--mobile {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top--mobile {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.header__logo img {
  width: 132px;
  height: 36px;
}

.header__button--register > button {
  background: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  border-color: rgb(234, 53, 45);
  margin: 5px 0 0 0;
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.header__button--login > button {
  color: rgb(0, 149, 238);
  border-color: rgb(0, 149, 238);
  background: white;
  transition-property: transform;
  transition-duration: 1s;
  margin: 5px 0 0 10px;
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  padding: 0 10px;
  margin-bottom: 10px;
}

.header__button--login > button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(0, 149, 238);
  background-color: rgb(0, 149, 238);
}

.header__middle--mobile {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 10px 8px;
}

.header__search-icon {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  border: none;
}

.header__form {
  display: flex;
  justify-content: flex-start;

  align-items: center;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
  line-height: 1.4em;
  position: relative;
  width: 100%;

  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  transition: all 0.3s ease-out 0s;
}

input {
  border: 1px;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  transition: all 0.3s ease-out 0s;
}

.header__input--icon {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  border-width: initial;
  border-style: none;
  z-index: 3;
}

.header__input--icon:hover {
  cursor: pointer;
}

.header__bottom--mobile {
  font-weight: 600;
  margin: 0 10px;
}

.search__wrapper {
  display: flex;
  line-height: 14px;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: small;
}

.header__search {
  display: flex;
}
.search__svg {
  color: red;
  margin: 0 8px;
}

.header__search--category:a {
  color: inherit;
  text-decoration: none;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* common */
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* BANNER */
/* .items-section--banner {
    width: 100%;
    height: 150px;
    background-size: auto;
    background-image: url(../img/merrucari_app_banner01.png);
    background-position: center;
    background-size: cover;
    display: block;
  } */
.banner-section {
  background-image: url('../img/merrucari_app_banner01.png');
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
}

/* section */
.items-section {
  padding: 0 10px;
}

.items-section__inner--top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 56px 0px 5px;
  width: 100%;
}

.items-section__categories {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.horizontal_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 12px 8px;
  display: -ms-flexbox;
  display: flex;
}

.horizontal_scroll li {
  white-space: nowrap;
}

.items-section__categories-item > button {
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.items-section__title {
  display: flex;
  justify-content: center;
}

.items-section__title h3 {
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 16px;
}

.items-section__inner--bottom {
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 42px 0px 100px;
  width: 100%;
  height: auto;
}

.tems-section__inner--bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  background-color: mediumaquamarine;
}

.items-section__product--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 8px;
  width: 100%;
}

.items-section__category--text {
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
}

.items-section__category--link {
  display: flex;
  flex-direction: row;
}

.items-section__category--more {
  align-items: center;
  color: #0095ee;
  cursor: pointer;
  display: inline-flex;
  line-height: 1.4em;
  text-decoration: none;
  word-break: normal;
  white-space: nowrap;
}

.items-section__product--content {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

/* .card {
  display: inline-block;
  justify-content: space-between;
  width: 33.33%;
  padding: 5px 0 5px 5px;
} */

/* APP SECTION */
.app-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../img/mercari_app_background.jpg);
  height: 80px;
  background-position: center;
  background-size: cover;
  color: #fff;
  width: 100%;
}

.app-section__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.app-section__content-titles {
  display: inline-block;
  flex-direction: column;
  margin-left: 10px;
}
.app-section__subtitle {
  font-size: 16px;
  font-weight: 300;
  /* margin: 30px 0 15px; */
  /* margin-bottom: 15px; */
}

.app-section__title {
  font-size: 20px;
  font-weight: 600;
}

.app-section__icons {
  display: none;
}

.app-section__phone-img {
  display: none;
}

/* FOOTER */
footer {
  color: rgb(255, 255, 255);
  font-size: 12px;
  background: rgb(34, 34, 34);
  padding: 25px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.footer__section-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.footer__section-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.footer__wrapper--country {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  display: flex;
}

.footer__titles {
  font-size: 17px;
  font-weight: 600;
}

.footer__about {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 15px;
}

.footer__section--content-top .footer__section--content-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
}

.footer__section--content-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
}
.footer__social-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer__wrapper--privacy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 15px;
}

.footer__list {
  margin-left: 0;
  padding-left: 0;
  padding: 0px;
  margin: 0px;
}

ul > li {
  margin-left: 0;
  margin-right: 10px;
  list-style-type: none;
}

.footer__inner--bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px;
}

.footer__item a {
  text-decoration: none;
  color: white;
}

.footer__country-japan:link .footer__country-us:link {
  text-decoration: none;
  color: white;
}

.footer__titles {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  max-width: 764px;
}

.footer__help {
  display: inline;
  justify-content: center;
}

.footer__inner--bottom-logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 8px auto 20px;
  vertical-align: bottom;
}

.footer__inner--bottom-logo img {
  vertical-align: top;
}

.footer__label--copyright {
  margin-bottom: 8px;
  align-items: center;
  line-height: 36px;
}

.camera {
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: #fff;
  height: 80px;
  width: 80px;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
}

/* common */

.header__button--register > button {
  background: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  border-color: rgb(234, 53, 45);
}

.header__button--login > button {
  color: rgb(0, 149, 238);
  border-color: rgb(0, 149, 238);
  transition-property: transform;
  transition-duration: 1s;
}

.header__button--login > button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(0, 149, 238);
  background-color: rgb(0, 149, 238);
}

button {
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}
