/* middle screen */
@media (min-width: 560px) {

  /* PC/tablet Header  */
  .header--mobile {
    display: none;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding-top: 3px;
    margin: 0;
    border: none;
  }

  .header__inner {
    display: inline-flex;
    flex-direction: column;
    color: #000;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-shadow: none;
    margin: 5px auto 3px;
  }

  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 8px;
  }

  .header__logo img {
    width: 132px;
    height: 36px;
    margin-right: 10px;
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 0 10px;
    box-shadow: none;
  }

  .header__form {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
  }

  .header__button {
    display: flex;
    justify-content: flex-end;
  }

    /* BANNER */
.items-section--banner {
  height: 200px;
}

.items-section__categories {
  justify-content: center;
}

.horizontal_scroll {
  overflow-x: inherit; /* 横スクロール解除 */
  padding: 0 8px 8px;
}

.horizontal_scroll > li {
margin-right: 15px;
}

.items-section__inner--top {
  padding: 56px 0px 3px;
  /* padding: 40px 20px 20px 20px; */
}

.items-section__category--more {
  display: inline-flex;
}

.tems-section__inner--bottom-container {
  margin: 0 15px;
  max-width: 767px;
  padding: 0;
}

/* FOOTER */
.footer__container {
  max-width: 767px;
}

.footer__section-top {
  justify-content: space-between;
  width: 80%;
}

}

@media (min-width: 768px) {
  .header__top .header__bottom {
    margin: 0 50px 8px 50px;
  }

  /* BANNER */
.items-section--banner {
  height: 250px;
}


.items-section__product--title {
  /* display: flex;
  flex-direction: row; */
  justify-content: space-between;
  width: 100%;
}

.items-section__category--text {
  font-size: 24px;
  line-height: 34px;
}

  /* APP SECTION */
.app-section {
  height: 260px;
}

.app-section__content {
  flex-direction: column;
}

.app-section__content-titles {
 display: inline-block;
 flex-direction: column;
 margin-left: 10px;
}
.app-section__subtitle {
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0 15px;
  margin-bottom: 15px;
}

.app-section__title {
  font-size: 34px;
  font-weight: 400;
  /* margin-bottom: 20px; */
}
.app-section__subtitle {
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0 15px;
  margin-bottom: 15px;
}

.app-section__icons-app-mobile {
  display: none;
}

.app-section__phone-img {
  display: flex;
  width: 300px;
  height: auto;
  margin-left: 40px;
}

.app-section__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

/* FOOTER */
.footer__container {
  flex-direction: row;
  max-width: 1064px;
}
.footer__section--content {
  flex-direction: row;
  }

}

/* large-size screen  laptop */
@media (min-width: 1065px) {
  .header__top .header__bottom {
    margin: 0 50px 8px 50px;
  }

  /* BANNER */
.items-section--banner {
  height: 350px;
}


}
