/* middle screen */
/* @media (min-width: 560px) { */
@media (min-width: 768px) {
  .header--mobile {
    display: none;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 0 10px;
    margin: 0;
    border: none;
  }

  .header__inner {
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    padding: 10px 0;
    box-shadow: none;
  }

  .header__top {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* margin: 0 10px 8px; */
    margin-bottom: 8px;
  }

  .header__logo img {
    width: 132px;
    height: 36px;
    margin-right: 10px;
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    /* padding-top: 10px; */ /* ken */
    box-shadow: none;
  }

  .search__text {
    margin-right: 8px;
  }
  .header__form {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
  }

  .header__button {
    display: flex;
    justify-content: flex-end;
  }

  /* BANNER */
  .banner-section {
    height: 200px;
  }

  .items-section__category--text {
    font-size: 24px;
    line-height: 34px;
  }

  /* 人気のカテゴリータイトル */
  .items-section__inner--top {
    padding: 54px 0 30px;
  }

  .items-section__title h3 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 16px;
  }

  .items-section__categories {
    justify-content: center;
  }

  /* 横スクロール */
  .horizontal_scroll {
    overflow-x: inherit;
  }

  /* 商品エリア */
  .items-section__inner--bottom {
    padding: 56px 50px 30px;
  }

  .items-section__inner--bottom-container {
    max-width: 700px;
  }

  .items-section__product--title {
    max-width: 700x;
    margin: 0 auto;
  }

  .items-section__category--more {
    display: inline-flex;
  }

  /* 商品画像エリア */
  .items-section__product--container {
    margin: 0 auto;
    grid-template-rows: repeat (5, calc(width * 0.2));
    grid-template-columns: repeat(5, minmax(140px, 1fr));
    gap: 10px;
  }

  .card__caption {
    padding: 15px 10px; /* ken */
  }

  .card-none {
    display: flex;
  }

  .card__caption-description {
    /* ken
    height: 50px; */
  }

  .card__caption-description span {
    /* height: 48px; */ /*ken*/
    white-space: normal;
    font-size: 14px;
  }

  .card__caption-likes {
    /* height: 30px; */ /*ken*/
    line-height: 30px;
    /* right: 10%; */ /*ken*/
  }

  .material-icons {
    font-size: 30px;
  }

  /* APP SECTION */
  .app-section {
    height: 260px;
  }

  .app-section__content {
    flex-direction: column;
  }

  .app-section__subtitle h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 15px;
    margin-bottom: 15px;
  }

  .app-section__title h2 {
    font-size: 34px;
    font-weight: 400;
  }

  .app-section__icons-app-mobile {
    display: none;
  }

  .app-section__phone-img {
    display: flex;
    width: 300px;
    height: auto;
    margin-left: 40px;
  }

  .app-section__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer__container {
    max-width: 700px;
  }

  .footer__grid {
    grid-template-columns: repeat(2, minmax(350px, 1fr));
  }
}

/* large-size screen  laptop */
@media (min-width: 1065px) {
  .header__inner {
    max-width: 1024px;
  }

  /* BANNER */
  .banner-section {
    height: 250px;
  }

  .items-section__inner--bottom-container {
    max-width: 1024px;
  }

  /* FOOTER */
  .footer__container {
    max-width: 1024px;
    padding: 0px 20px 10px;
  }
  .footer__grid {
    max-width: 1024px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 340px 50px;
    gap: 20px;
  }

  .footer__list-country {
    display: inline;
  }

  .footer__list {
    width: 200px;
  }

  .footer__item {
    line-height: 1.4em;
    margin: 16px 0px 0px;
  }

  .footer__country {
    width: auto;
  }

  .footer__country ul {
    flex-direction: column;
    line-height: 1.4em;
    margin: 16px 0px 0px;
  }

  .footer__country-us {
    white-space: nowrap;
  }

  .footer__label--copyright-mobile {
    display: none;
  }

  .footer__label--copyright-pc {
    display: inline;
  }

  .dammy {
    display: inline;
  }
}
