/* mobile */
.header__input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
  line-height: 1.4em;
  position: relative;
  width: 100%;
  height: 40px;

  border-radius: 4px;
  transition: all 0.3s ease-out 0s;
  padding: 0;
}

/* .header__input:focus-within {
    border: none;
  } */

.header__input input {
  border: 1px;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: inherit;
  transition: all 0.3s ease-out 0s;
  border: 1px solid rgb(204, 204, 204);
  padding-left: 10px; /* ken */
  outline: none; /* ken */
}

.header__input input:focus {
  border: 1px solid rgb(0, 149, 238);
  transition: 0.5s;
}

.header__input button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  border-width: initial;
  border-style: none;
}

.header__input button:hover {
  cursor: pointer;
}

/* tablet */
.header__input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    background-color: rgb(245, 245, 245);
    line-height: 1.4em;
    position: relative;
    width: 100%;
    height: 40px;

    border-radius: 4px;
    transition: all 0.3s ease-out 0s;
    padding: 0;
  }

  /* .header__input:focus-within {
      border: none;
    } */

  .header__input input {
    border: 1px;
    background-color: rgb(245, 245, 245);
    font-size: 16px;
    line-height: 1.4em;
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: inherit;
    transition: all 0.3s ease-out 0s;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 10px; /* ken */
    outline: none; /* ken */
  }

  .header__input input:focus {
    border: 1px solid rgb(0, 149, 238);
    transition: 0.5s;
  }

  .header__input button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    border-width: initial;
    border-style: none;
  }

  .header__input button:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
  }
