.registration {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

/*  */
.signup-bar .progress-bar {
  padding: 16px 0;
  border-top: 1px solid #eee;
}
.progress-bar {
  font-size: 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .signup-bar.progress-bar {
    padding: 40px 0 0 44px;
    border: 0;
  }
}

.registration__inner {
  width: 100%;
  background-color: white;
  max-width: 700px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration__header {
  width: 100%;
  /* border-bottom: 0.5px solid #f5f5f5; */
  padding: 20px 0;
  text-align: center;
}

.header-font {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}

.registration__content {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  /* max-width: 70px; */
  background-color: white;
  margin: 0 auto;
}

.registration__align {
  width: 70%;
}

.form__input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 16px;
}
.form__input-date {
  width: 80%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 16px;
}

.necessary-badge {
  display: inline-flex;
  color: white;
  font-size: 12px;
  background: red;
  border-radius: 3px;
  padding: 0 2px;
  margin-left: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: small;
  font-weight: 500;
  margin-top: 8px;
}

.text-inline {
  display: flex-inline;
  line-height: 14px;
  margin-right: 4px;
}

.text-password {
  position: relative;
  z-index: 2;
  padding: 0 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox {
  display: flex-inline;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.label-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.next_button-wrapper {
  margin-top: 10px;
  height: 40px;
}

input {
  height: 40px;
  margin-left: 0;
  padding: 0;
}

.next_button {
  width: 100%;
  background: red;
  border-radius: 5px;
  color: white;
  border: none;
}
