/* Header  */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding-top: 6px;
}

.header__inner {
  display: inline;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: flex-start;
  line-height: 14px;
}

.header__logo {
  display: flex;
  justify-content: center;
  background-size: cover;
  max-width: 767px;
}

.header__form {
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  font: inherit;
}

.header__input {
  width: 100%;
  margin-left: 25px;
  height: 30px;
  font-size: 25px;
  background-color: rgb(245, 245, 245);
  height: 40px;
  /* line-height: 1.4em; */
  position: relative;
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.header__input > input {
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  height: 40px;
  line-height: 1.4em;
  /* position: relative; */
  width: 100%;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 4px;
  outline: none;
  padding: 0px 50px 0px 10px;
  transition: all 0.3s ease-out 0s;
}

.header__search-icon {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  /* height: 40px; */
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  /* -webkit-appearance: none; */
  border-width: initial;
  border-style: none;
  /* border-color: initial;
    border-image: initial; */
  border-radius: 0px 4px 4px 0px;
}

.header__search-icon:hover {
  cursor: pointer;
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.header__bottom p {
  font-size: 14px;
  font-weight: 600;
  line-height: 42px;
  padding: 0 10px;
}

.header__search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.search__svg {
  color: red;
  justify-content: flex-start;
  margin-right: 8px;
  align-items: baseline;
}

.header__search--category:a {
  color: inherit;
  text-decoration: none;
}

.header__button {
  display: flex;
  justify-content: flex-end;
}

.header__button--register > button {
  background: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  border-color: rgb(234, 53, 45);
}

.header__button--login > button {
  /* padding: 0px 10px; */
  color: rgb(0, 149, 238);
  border-color: rgb(0, 149, 238);
  transition-property: transform;
  transition-duration: 1s;
}

.header__button--login > button:hover {
  /* padding: 0px 10px; */
  color: rgb(255, 255, 255);
  border-color: rgb(0, 149, 238);
  background-color: rgb(0, 149, 238);
}

button {
  margin: 5px 0 0 10px;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}
/* section */
section {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.items-section__inner--bottom {
  background: #efefef;
}

.items-section__inner--top {
  padding: 56px 0px 30px;
}

.items-section__categories-item > button {
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.items-section__inner--bottom {
  padding: 42px 0px 100px;
}

.items-section__title h3 {
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 16px;
}

.items-section__category--more a {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end */
  color: #0095ee;
  cursor: pointer;
  display: inline-flex;
  /* line-height: 1.4em; */
  text-decoration: none;
  word-break: normal;
}

.items-section__category--text h4 {
  font-size: 24px;
}

.items-section__category--svg {
}
.card {
  padding: 10px;
}

.card__preview--img {
  width: 124px;
}

.card__preview--price {
  /* position: absolute; */
}

.items-section {
  display: inline;
  flex: 1;
  justify-content: center;
  /* background: rgb(0, 128, 0); */
}

.items-section--banner {
  width: 100%;
}
.items-section--banner-img {
  display: flex;
  justify-content: center;
  height: 250px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(img/merrucari_app_banner01.png);
  margin-bottom: 16px;
  /* padding: 56px 0px 30px; */
}

.items-section__inner--top {
  display: infline;
  justify-content: center;
}

.items-section__title {
  display: flex;
  justify-content: center;
}

.items-section__categories {
  display: flex;
  justify-content: center;
}

.items-section__product--title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-left: 50px;
}

.items-section__product--content {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  max-width: 1000px;
  flex-wrap: wrap;
}

/* app section */
.app-section {
  display: flex;
  justify-content: center;
  background-image: url(img/mercari_app_background.jpg);
  height: 260px;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.app-section__subtitle {
  /* font-size: 24px; */
  font-weight: 600;
  margin: 30px 0 15px;
  /* margin-bottom: 15px; */
}

.app-section__title {
  /* font-size: 35px; */
  margin-bottom: 20px;
}
.app-section__content {
  display: inline;
  justify-content: center;
}

.app-section__icons {
  display: flex;
  justify-content: space-between;
}

.app-section__phone-img {
  /* width: 40%; */
  margin-left: 40px;
}

/* footer */
footer {
  color: rgb(255, 255, 255);
  font-size: 12px;
  background: rgb(34, 34, 34);
  display: inline;
  justify-content: center;
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  padding: 0px 20px 10px;
}

/* .footer__inner--top {
  display: inline;
  max-width: 500px;
  flex-wrap: wrap;
}

.footer__inner--bottom {
  display: inline;
  max-width: 500px;
  flex-wrap: wrap;
} */

.footer__section {
  display: flex;
  justify-content: center;
  /* max-width: 1000px; */
}

.footer__titles {
  font-weight: bold;
}

.footer__list {
  margin-left: 0;
  padding-left: 0;
}

ul > li {
  margin-left: 0;
  margin-right: 10px;
  list-style-type: none;
}

.footer__wrapper-privacy {
  display: flex;
  justify-content: flex-start;
}

.footer__wrapper-privacy ul {
  padding-left: 0;
}

.footer__wrapper-country {
  display: inline;
}

.footer__icons {
  display: flex;
  justify-content: flex-start;
}

.footer__titles {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.footer__help {
  display: inline;
  justify-content: center;
}

.footer__copyright {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px auto 20px;
  vertical-align: bottom;
}

.footer__inner--bottom img {
  vertical-align: top;
}

.footer__copyright-- {
  /* display: flex; */
  /* justify-content: center; */
  margin-bottom: 8px;
  align-items: center;
  line-height: 36px;
}

.camera {
  display: inline-block;
  /* align-items: flex-end; */
  /* padding-top: 15px; */
  text-align: center;
  line-height: 80px;
  color: #fff;
  height: 80px;
  width: 80px;
  background-color: rgb(234, 53, 45);
  border-radius: 50%;
}

/* middle-size screen */
@media (min-width: 768px) {
  header {
    position: relative;
  }

  .items-section--banner-img {
    width: 700px;
    margin: 55px auto 10px;
  }
}

/* large-size screen */
@media (min-width: 1068px) {
  header {
    position: relative;
  }
  .items-section--banner-img {
    width: 1020px;
    margin: 30px auto 20px;
  }
}
