/* Header  */
header {
  background-color:tomato;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__inner {
  display: inline;
  width: 60%;
  justify-content: space-between;
}

.header__top {
  display: flex;
  background-color: pink;
}

.header__logo {
  display: flex;
  /* height: 36px; */
  width: 134px;
}
input {
  width: 100%;

}
.header__input {
  width: 60%;
  background-color: rgb(228, 129, 129);
}

.header__bottom {
  background-color: rgb(175, 189, 47);
  display: flex;
}

.header__search {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: space-between;
}

.header__button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

  button {
    margin-left: 10px;
  }
/* section */
section {
  background-color:#fff;
  display: flex;
  justify-content: center;
}

.card {
  padding: 10px 50px;
}

.items-section {
  display: inline;
  flex:1;
  justify-content: center;
  background: rgb(0, 128, 0);
}

.items-section__inner--top  {
  display: infline;
  justify-content: center;
}

.items-section__title{
  display: flex;
  justify-content: center;
}

.items-section__categories {
  display: flex;
  justify-content: center;
}

.items-section__product--title {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-left: 50px;
}

.items-section__product--content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

/* app section */
.app-section{
  display: flex;
  justify-content: center;
  background: burlywood;
}

.app-section__content{
  display: inline;
  justify-content: center;
}

.app-section__icons{
  display: flex;
  justify-content: space-between;
}

.app-section__phone-img {
width: 40%;
}

/* footer */
footer {
  color: rgb(255, 255, 255);
  font-size: 12px;
  background: rgb(80, 79, 79);
  display: inline;
  justify-content: flex-start;
}

.footer__section {
  /* width: 80%; */
  display: flex;
  padding:30px;
  /* justify-content: center; */
}

.footer__titles {
  font-weight: bold;
}

.footer__list {
  margin-left: 0;
  padding-left: 0;
}

ul > li {
  margin-left: 0;
  list-style-type: none;
}

.footer__wrapper-privacy{
  display: flex;
  justify-content: flex-start;
}

.footer__wrapper-privacy ul {
  padding-left: 0;
}


.footer__wrapper-country {
display: inline;
}

/* .footer__privacy{
  flex:1;
} */

.footer__titles {
  display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer__help {
  width: 100%;
  display: inline;
  justify-content: center;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
