.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px, 1px, 4, gray;
  border: 1px solid transparent;
}

.card:hover {
  transition: 0.7s;
  border: 1px solid #0095ee;
}

.card__preview {
  display: inline-block;
  width: auto;
  height: auto;
  position: relative;
  text-decoration: none;
  position: relative;
  padding: 0;
}

.card__preview img {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

.card_none {
  display: none;
}

.card__preview--price {
  z-index: 2;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0 10px 10px 0;
  padding: 4px 10px 4px 5px;
  bottom: 10px;
  left: 0px;
  font-size: small;
}

.card__preview--price-text {
  padding: 3px;
}

.card__caption {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  position: relative;
  width: 100%;
  padding: 10px;
}

.card__caption-description {
  display: block;
  overflow: hidden;
  position: relative;
}

.card__caption-description span {
  height: 38px;
  white-space: normal;
  font-size: 13px;
  display: block;
  overflow: hidden;
}

.card__caption-likes {
  display: flex;
  position: absolute;
  height: 24px;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
}
.card__caption-likes:before {
  content: "";
  position: absolute;
  display: block;
  left: -20px;
  width: 20px;
  height: 100%;
  background: linear-gradient(90deg, rgba(256, 256, 256, 0.1), #fff 72%);
}

.card__like-icon {
  cursor: pointer;
  display: block;
  width: 15px;
  height: 100%;
  position: relative;
  top: 2px;
  border-radius: 50%;
  transition: background 0.3s;
  position: relative;
  margin-right: 4px;
}

.card__like-icon svg {
  width: 100%;
  fill: gray;
}

.card-none {
  display: none;
}
@media (min-width: 768px){
  .card__caption {
    padding: 15px 10px;
  }

  .card-none {
    display: block;
  }

  /* .card__caption-description {
  } */

  .card__caption-description span {
    white-space: normal;
    font-size: 14px;
  }

  .card__caption-likes {
    line-height: 30px;
  }
}
