/* small screen mobile */
/* Mobile Header  */
.header {
  display: none;
}

.header--mobile {
  width: 100%;
  display: inline-block;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 300;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding-top: 3px;
  margin: 0;
}

.header__inner--mobile {
  display: inline-block;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top--mobile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.header__logo img {
  width: 132px;
  height: 36px;
}

.header__button--register > button {
  background: rgb(234, 53, 45);
  color: rgb(255, 255, 255);
  border-color: rgb(234, 53, 45);
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  padding: 0 10px;
  white-space: nowrap;
  outline: none;
}

.header__button--login > button {
  color: rgb(0, 149, 238);
  border-color: rgb(0, 149, 238);
  background: white;
  transition-property: transform;
  transition-duration: 1s;
  line-height: 30px;
  border-style: solid;
  border-width: 1px;
  border-image: initial;
  border-radius: 4px;
  padding: 0 10px;
  white-space: nowrap;
  margin-left: 10px; /* ken */
  outline: none;
}

.header__button--login > button:hover {
  color: rgb(255, 255, 255);
  border-color: rgb(0, 149, 238);
  background-color: rgb(0, 149, 238);
}

.header__middle--mobile {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0px 10px 8px;
}

.header__search-icon {
  background-color: transparent;
  cursor: pointer;
  height: 100%; /* ken */
  width: 40px; /* ken */
  border: 1px solid transparent; /* ken */
  border-top-right-radius: 4px; /* ken */
  border-bottom-right-radius: 4px; /* ken */
  outline: none; /* ken */
}

/* ken */
input:focus + .header__search-icon {
  border: 1px solid rgb(0, 149, 238);
  border-left: none;
  transition: 0.5s;
}

.header__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  background-color: rgb(245, 245, 245);
  line-height: 1.4em;
  position: relative;
  width: 100%;
  height: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
  transition: all 0.3s ease-out 0s;
  padding: 0;
}

/* ken */
.header__form:focus-within {
  border: none;
}

input {
  border: 1px;
  background-color: rgb(245, 245, 245);
  font-size: 16px;
  line-height: 1.4em;
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: 1px;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-top-left-radius: 4px; /* ken */
  border-bottom-left-radius: 4px; /* ken */
  transition: all 0.3s ease-out 0s;
  padding-left: 10px; /* ken */
  outline: none; /* ken */
}

/* ken */
input:focus {
  border: 1px solid rgb(0, 149, 238);
  border-right: none;
  transition: 0.5s;
}

.header__input--icon {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 40px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  border-width: initial;
  border-style: none;
}

.header__input--icon:hover {
  cursor: pointer;
}

.header__bottom--mobile {
  font-weight: 600;
  margin: 0 10px;
}

.search__wrapper {
  display: flex;
  align-items: center;
  line-height: 42pxpx;
  justify-content: space-between;
  /* padding: 10px 0; */ /* ken */
  font-size: small;
}

.header__search {
  display: flex;
  width: 50%;
  height: 42px;
  padding-bottom: 4px;
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
  font-size: 0px;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 4px;
}
.search__svg {
  color: red;
  align-items: center;
  /* margin: 0 8px; */
}
.search__text {
  font-size: 12px;
  padding-left: 3px;
  white-space: nowrap;
}

.header__search--category:a {
  color: inherit;
  text-decoration: none;
}

.header__button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (min-width: 768px) {
  .header--mobile {
    display: none;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 0 10px;
    margin: 0;
    border: none;
  }

  .header__inner {
    display: flex;
    flex-direction: column;
    color: #000;
    justify-content: space-between;
    max-width: 700px;
    width: 100%;
    padding: 10px 0;
    box-shadow: none;
  }

  .header__top {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    /* margin: 0 10px 8px; */
    margin-bottom: 8px;
  }

  .header__logo img {
    width: 132px;
    height: 36px;
    margin-right: 10px;
  }

  .header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    /* padding-top: 10px; */ /* ken */
    box-shadow: none;
  }

  .search__text {
    margin-right: 8px;
  }
  .header__form {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
  }

  .header__button {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 1065px) {
  .header__inner {
    max-width: 1024px;
  }
}
