.wrapper {
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: skyblue;
}

.single-header {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 55px;
}

.single-header img {
  margin: 11px 0;
  width: 120px;
  height: 33px;
}

.l-single-head {
  padding: 16px;
  /* padding: 24px 8px; */
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-bottom: 20px;
}

/* main */
.section__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__wrap {
  padding-left: 0;
}

.list__btn {
  list-style: none;
  margin-bottom: 13px;
  padding-left: 0;
}

.btn-default {
  width: 330px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  cursor: pointer;
  outline: none;
}

.btn-text__bottom {
  width: 330px;
  color: #888888;
  padding-bottom: 25px;
}

.btn-align {
  line-height: 48px;
  height: 48px;
  position: relative;
}

.btn-text {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.btn-default:hover {
  opacity: 0.7;
}

.btn-mail {
  background: #ea352d;
  color: #fff;
}

.icon-mail {
  position: absolute;
  left: 15px;
  top: 7px;
  width: 20px;
}

.btn-google {
  position: relative;
  background: #fff;
  border: solid 1px #000;
}

.btn-facebook {
  position: relative;
  background: #385185;
  color: #fff;
}

.btn-apple {
  position: relative;
  background: #000;
  color: #fff;
}

/* main */

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0 0 0;
  background-color: #f5f5f5;
}

footer a {
  display: block;
  color: #333;
  text-decoration: none;
  background-color: #f5f5f5;
}

.footer__container {
  padding-bottom: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  /* height: 25%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer--items {
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer--items > li {
  font-size: 12px;
  color: #333;
  line-height: 2em;
  padding: 0;
  list-style: none;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
}

.footer--copyright {
  display: none;
  font-size: 13px;
  padding-bottom: 5px;
}
.footer__img {
  display: none;
  width: 80px;
  height: 85px;
  padding-top: 10px;
}

@media (min-width: 359px) {
  .footer__img {
    display: block;
  }

  .footer--copyright {
    display: block;
  }

  @media (min-width: 767px) {
    .single-header {
      height: 150px;
    }
    .single-header img {
      margin: 40px 0;
      width: 180px;
      height: 50px;
    }

    .list__btn {
      margin-bottom: 20px;
    }

    main {
      width: 660px;
      margin: 20px auto;
      padding: 10px 0 20px;
    }

    .l-single-head {
      padding: 24px 8px;
      font-weight: 500;
    }

    .footer--items {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 20px;
    }

    .footer--items li {
      margin-right: 15px;
    }

    .footer--copyright {
      display: block;
    }
    .footer__img {
      display: flex;
    }
  }
}
