.header--tablet {
  display: none;
}

@media (min-width: 767px) {
  .header--tablet {
    display: block;
    position: relative;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin: 0 auto;
    z-index: 9999;
  }

  .header__inner--tablet {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 8px 0;
  }

  .header__top--tablet {
    display: flex;
    align-items: center;
  }

  .header__logo {
    margin-right: 20px;
  }

  

  .header__bottom--tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  .header__search {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
  }

  .header__left {
    display: flex;
    justify-content: flex-start;
  }

  .header__right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  /* 共通項目 */
  .header__buttons > button {
    border-radius: 5px;
    padding: 8px 10px;
    font-weight: 400;
    font-size: 15px;
  }

  /* 新規会員 */
  .header__button--register button {
    margin-right: 5px;
    border: none;
    background-color: #ea352e;
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
  }

  /* ログイン */
  .header__button--login button {
    background-color: white;
    color: #3295ee;
    border: 1px solid #3295ee;
  }
  .header__button--login a {
    color: #3295ee;
  }
  .header__button--login a:hover {
    color: white;
  }
}

@media (min-width: 1068px) {
  .header__inner--tablet {
    max-width: 1000px;
  }
}
